*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
    font-weight: 300;
}

.justify-content{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

nav ul{
    margin: auto auto;
    width: 100%;
}

ul li{
list-style: none;
font-size: 1.3em;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    border: 1px solid palevioletred;
    background-color: rgb(255, 137, 157);
    color: white;
    padding: 10px;
}
audio{
    margin: 10px;
}
audio::-webkit-media-controls-panel{
    background-color: rgb(255, 221, 227);
}


button{
padding: 10px;
display: block;
border: none;
background-color: rgba(255, 137, 157, 0.826);
color: white;
}

button:hover{
background-color: white;
color: palevioletred;
border: 1px solid rgb(255, 137, 157);
}
.song-item{
    margin: 20px;
}

img{
    margin: 10px;
    width: 300px;
}

.flex{
    display: flex;
}

.container{
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid palevioletred;
    margin: 0 10px;
    background-color: rgb(255, 137, 157) ;
    color: white;
}

h1{
    font-weight: 400;
    font-size: 2em;
    animation-name: blink;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
   
    
}

@keyframes blink {
    0%{
        text-shadow: none;
    }
    7%{
        text-shadow: 0px 0px 7px white;
    }
    15%{
        text-shadow: 0px 0px 28px white;
    }
    25%{
       text-shadow: none;
    }
    50%{
       text-shadow: 0px 0px 14px white;
    }
    60%{
        text-shadow: 0px 0px 1px white;
    }
    75%{
        text-shadow: 0px 0px 28px white;
    }
    100%{
        text-shadow: 0px 0px 7px white;
    }
}

.grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.songs{
    border: 1px solid palevioletred;
    margin: 20px;
    padding: 40px;
}

.myPlaylist{
    border: 1px solid palevioletred ;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.logo{
    width: 45%;
}

nav{
    width: 40%;
}

nav ul li a:hover{
   text-shadow: 0px 0px 7px white;
}
